

// color variable

$main-bg-color:#fff;
$main-txt-color:#000;
$active-element-color:rgb(129 193 75 / 23%);
$align:flex;
$msg-alert:#54c38b;
$notification-bg:#e6f3ee;
$alert-icon:#7cb150;
$border-box:#eaeaea;

