

// color variable

$main-bg-color:#fff;
$main-txt-color:#000;
$heading-txt-color:#101817;
$heading2-txt-color:#4c4c4c;
$active-element-color:rgb(129 193 75 / 23%);
$align:flex;
$msg-alert:#54c38b;
$notification-bg:#e6f3ee;
$alert-icon:#7cb150;
$border-box:#eaeaea;
$bg-color1:#29acc4;
$bg-color2:#5bc784;
$bg-color3:#e672a3;
$bg-color4:#8191e8;


