@font-face {
  font-family: "author";
  src: url("../assets/fonts/author/author-bold-webfont.woff2") format("woff2"), url("../assets/fonts/author/author-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "author";
  src: url("../assets/author/author-medium-webfont.woff2") format("woff2"), url("../assets/fonts/author/author-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "author";
  src: url("../assets/author/author-regular-webfont.woff2") format("woff2"), url("../assets/author/author-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "author";
  src: url("../assets/author/author-semibold-webfont.woff2") format("woff2"), url("../assets/author/author-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.banner-section {
  position: relative;
  padding-top: 37px;
}
.banner-section .left-contet {
  display: flex;
  align-items: center;
}
.banner-section .left-contet .family-img {
  width: 250px;
  padding: 0px 13px 0 0px;
}
.banner-section .left-contet .welcome-content h1 {
  font-size: 52px;
  font-weight: 600;
  padding: 10px 0 0 0;
}
.banner-section .left-contet .welcome-content p {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  padding-top: 10px;
}
.banner-section .right-content {
  background: #e6f3ee;
  position: absolute;
  top: 50px;
  right: 0;
  border-radius: 10px;
}
.banner-section .right-content .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 20px;
}
.banner-section .right-content .inner-content button.feature-img {
  background: transparent;
  border: none;
}
.banner-section .right-content .inner-content button.feature-img.feature-img {
  width: 48px;
}
.banner-section .right-content .inner-content .Vaccinations-content p {
  font-size: 22px;
  font-weight: 500;
  padding: 0 20px;
  margin: 13px 0 10px 0;
}
.banner-section .right-content .inner-content .Vaccinations-content a {
  font-weight: 500;
  color: #7cb150;
  padding-left: 22px;
  text-decoration: underline;
  display: block;
  margin-bottom: 13px;
}
.banner-section .right-content .inner-content .ellipse {
  width: 36px inherit;
  width: 36px;
  height: 36px;
  background: #7cb150;
  border: none;
  border-radius: 50%;
  position: relative;
}

.organization .bottom-content {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 21.2px;
  border-radius: 14px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.08);
}
.organization .bottom-content .District {
  width: 25%;
}
.organization .bottom-content .District h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.1px;
  color: #101817;
  padding-bottom: 13px;
}
.organization .bottom-content .District .District-cover {
  display: flex;
  background-color: #e6f3ee;
  padding: 12px 17.4px 12px 13px;
  border-radius: 5px;
  align-items: center;
}
.organization .bottom-content .District .District-cover h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #4c4c4c;
  padding-bottom: 0;
}
.organization .bottom-content .District .District-cover .arrow {
  box-sizing: border-box;
  width: 13.2px;
  height: 13.2px;
  border-style: solid;
  border-color: black;
  border-width: 0px 2.5px 2.5px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  margin-left: 32px;
}
.organization .bottom-content .District .para-1 {
  padding-top: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: #4c4c4c;
}
.organization .bottom-content .District .para-2 {
  padding-top: 14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #101817;
}
.organization .bottom-content .right-content {
  display: flex;
  width: 100%;
}
.organization .bottom-content .right-content .dropdown-container {
  padding: 20px 17.3px 19px 23px;
  border-radius: 14px;
  border: solid 1px #eaeaea;
  width: 25%;
  margin: 0 0 0 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.organization .bottom-content .right-content .dropdown-container.Schools-Enrolled img {
  width: 36px;
  position: absolute;
  left: 24px;
  bottom: 26px;
}
.organization .bottom-content .right-content .dropdown-container.events img {
  width: 32.2px;
  position: absolute;
  left: 25px;
  bottom: 25px;
}
.organization .bottom-content .right-content .dropdown-container.events .down-arrow {
  border-width: 2.5px 0px 0px 2.5px;
}
.organization .bottom-content .right-content .dropdown-container.Insurance-Rates img {
  width: 36px;
  position: absolute;
  left: 25px;
  bottom: 25px;
}
.organization .bottom-content .right-content .dropdown-container.COVID-19-Positive img {
  width: 36px;
  position: absolute;
  left: 25px;
  bottom: 25px;
}
.organization .bottom-content .right-content .dropdown-container .dropdown-container-content {
  flex: 1;
  margin-left: 14px;
}
.organization .bottom-content .right-content .dropdown-container .dropdown-container-content h5 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 14.5px;
}
.organization .bottom-content .right-content .dropdown-container .dropdown-container-content h5.dropdown-content-events {
  margin: 12.4px 0 0px 0;
}
.organization .bottom-content .right-content .dropdown-container .dropdown-container-content h5.dropdown-content-Rates {
  margin: 10px 0 6px 0;
  font-weight: 600;
}
.organization .bottom-content .right-content .dropdown-container .dropdown-container-content p {
  font-size: 16px;
  color: #101817;
}
.organization .bottom-content .right-content .dropdown-container .box-size {
  width: 82px;
  height: 82px;
  border-radius: 7px;
  position: relative;
}
.organization .bottom-content .right-content .dropdown-container .school-bg {
  background-color: #29acc4;
}
.organization .bottom-content .right-content .dropdown-container .Insurance-bg {
  background-color: #5bc784;
}
.organization .bottom-content .right-content .dropdown-container .COVID-bg {
  background-color: #e672a3;
}
.organization .bottom-content .right-content .active {
  background-color: #e6f3ee;
}
.organization .bottom-content .right-content .active .events-bg {
  background-color: #8191e8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: author;
}

h1,
p,
h3,
h5 {
  margin: 0;
}

.arrow {
  box-sizing: border-box;
  width: 13.2px;
  height: 13.2px;
  border-style: solid;
  border-color: #4c4c4c;
  border-width: 0px 2.5px 2.5px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  margin-left: 32px;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  padding: 0 50px;
  margin: 0 auto;
  max-width: 2000px;
}

.logo {
  width: 192px;
}

header {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
}
header .navigation {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
}
header .navigation .nav {
  flex: 1;
  margin-left: 56px;
}
header .navigation .nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
header .navigation .nav ul li {
  padding: 0;
  margin: 0 10px;
}
header .navigation .nav ul li a {
  font-size: 18px;
  color: #000;
  display: inline-flex;
  padding: 17px 29px 17px 24px;
}
header .navigation .nav ul li a.active {
  background-color: rgba(129, 193, 75, 0.23);
  border-radius: 7px;
}
header .navigation .nav ul li a img {
  width: auto;
  height: 16px;
  padding: 0 8px 0px 0px;
}
header .account-section {
  display: flex;
  align-items: center;
}
header .account-section .notification {
  padding: 17px 19px;
  background: transparent;
  border: none;
  position: relative;
  cursor: pointer;
}
header .account-section .notification img {
  width: auto;
  height: 19.6px;
}
header .account-section .notification.notify:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #54c38b;
  position: absolute;
  top: 14px;
  right: 16px;
}
header .account-section .notification.alert img {
  height: 23px;
}
header .account-section .notification.alert.notify:after {
  top: 18px;
  right: 19px;
}
header .account-section .notification.profile {
  padding: 0;
  margin-left: 15px;
}
header .account-section .notification.profile img {
  width: 52px;
  height: auto;
}

section.section-4 {
  padding: 27px 32px 37px 19.3px;
  border-radius: 10px;
  border: solid 2px #e6e6e6;
  background-color: #fff;
}
section.section-4 .top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.section-4 .top-head h3 {
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0e1817;
}
section.section-4 .top-head table {
  width: 20% !important;
}
section.section-4 .top-head table,
section.section-4 .top-head th,
section.section-4 .top-head td {
  border: solid 1px #e3e3e3;
  background-color: #fff;
  border-collapse: collapse;
  padding: 20.5px 25px 18.5px 17px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
section.section-4 .top-head table tr :nth-child(1),
section.section-4 .top-head th tr :nth-child(1),
section.section-4 .top-head td tr :nth-child(1) {
  background: #7cb150;
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
section.section-4 .top-head form.example input[type=text] {
  font-size: 17px;
  float: left;
  background: #f1f1f1;
  padding: 16px 15.4px 18px 17px;
  border-radius: 5px 0px 0px 5px;
  border: solid 1px #e2e2e2;
  background-color: #fff;
}
section.section-4 .top-head form.example button {
  float: left;
  padding: 10px;
  background: #7cb150;
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
  padding: 16px 15.4px 18px 17px;
  border-radius: 0px 5px 5px 0px;
  border: solid 2px #e6e6e6;
}
section.section-4 .top-head form.example::after {
  content: "";
  clear: both;
  display: table;
}
section.section-4 .top-head .list-main {
  display: flex;
}
section.section-4 .top-head .list-main .map {
  padding: 17.5px 20px 16.5px;
  border-radius: 5px;
  border: solid 1px #e2e2e2;
  background-color: #fff;
}
section.section-4 .top-head .list-main .map img {
  width: 15.8px;
}
section.section-4 .top-head .list-main .list {
  padding: 17.5px 20px 16.5px;
  border-radius: 5px;
  background-color: #7cb150;
  border: solid 1px #e2e2e2;
}
section.section-4 .top-head .list-main .list img {
  width: 20.7px;
}
section.section-4 .top-head .filter {
  padding: 16.5px 15.5px 16.9px 15.5px;
  border-radius: 5px;
  border: solid 1px #e2e2e2;
  background-color: #fff;
}
section.section-4 .top-head .filter img {
  width: 24px;
}
section.section-4 .header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}
section.section-4 .header-2 h3 {
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0e1817;
}
section.section-4 .right-option-bar select {
  padding: 16px 15.4px 18px 17px;
  border-radius: 5px;
  border: solid 1px #e2e2e2;
  background-color: #fff;
  margin-left: 16px;
  font-size: 20px;
  color: #4c4c4c;
}/*# sourceMappingURL=main.css.map */