#section-1 {
	position: relative;
	padding-bottom: 22px;


	.left-contet {
		display: flex;

		.family-img {
			width: 250px;
			padding: 18px 13px 0 0px;

		}

		.welcome-content {
			h1 {

				font-size: 52px;
				font-weight: 600;
				padding: 55px 0 0 0;

			}

			p {
				font-size: 22px;
				font-weight: 500;
				line-height: 28px;
				padding-top: 10px;


			}
		}
	}

	.right-content {

		background: $notification-bg;
		// float: right;
		position: absolute;
		top: 61px;
		right: 0;
		border-radius: 10px;

		.inner-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px 40px 0px 20px;

			.feature-img {
				width: 30px;
			}

			.Vaccinations-content {
				h2 {
					font-size: 22px;
					font-weight: 500;
					padding: 0 20px;
					margin: 13px 0 10px 0;
				}

				a {
					font-weight: 500;
					color: $alert-icon;
					padding-left: 22px;
					text-decoration: underline;
					display: block;
					margin-bottom: 13px;

				}
			}

			.ellipse {
				width: 36px inherit;
				width: 36px;
				height: 36px;
				background: $alert-icon;
				;
				border-radius: 50%;
				position: relative;

				h3 {
					position: absolute;
					top: 0px;
					font-size: 30px;
					color: $main-bg-color;
					right: 9px;
					font-weight: bold;
				}

			}


		}
	}
}