.banner-section{
	position: relative;
	padding-top: 37px;
	.left-contet {
		display: flex;
		align-items: center;

		.family-img {
			width: 250px;
			padding: 0px 13px 0 0px;

		}

		.welcome-content {
			h1 {

				font-size: 52px;
				font-weight: 600;
				padding: 10px 0 0 0;

			}

			p {
				font-size: 22px;
				font-weight: 500;
				line-height: 28px;
				padding-top: 10px;


			}
		}
	}

	.right-content {

		background: $notification-bg;
		// float: right;
		position: absolute;
		top: 50px;
		right: 0;
		border-radius: 10px;

		.inner-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px 40px 0px 20px;
			button.feature-img {
				background: transparent;
				border: none;
				&.feature-img {
					width: 48px;
				}
			}
			

			.Vaccinations-content {
				p{
					font-size: 22px;
					font-weight: 500;
					padding: 0 20px;
					margin: 13px 0 10px 0;
				}

				a {
					font-weight: 500;
					color: $alert-icon;
					padding-left: 22px;
					text-decoration: underline;
					display: block;
					margin-bottom: 13px;

				}
			}

			.ellipse {
				width: 36px inherit;
				width: 36px;
				height: 36px;
				background: $alert-icon;
				border: none;
				border-radius: 50%;
				position: relative;


			}


		}
	}
}